@page "/"
@using Microsoft.AspNetCore.Http
@inject ILogger<Intro> Logger
@inject IHttpContextAccessor httpContextAccessor
<PageTitle>DevOps開發運營</PageTitle>
@*<DevOpsProject.Pages.CompUi.ServerInfoCompUi />*@
@*版本:@linkTimeLocal.ToString("yyyy.MM.dd.HHmm")*@
@if (true)
{
    <h1><a target="_blank" href="https://app.asana.com/0/1204367921586778/board">DevOps</a></h1>
    <table class="gridtable">
        <tr>
            <td colspan="2" style="border-width:0"></td>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
            <th>I</th>
            <th>J</th>
        </tr>
        <tr>
            <td colspan="2" style="border-width:0"></td>
            <th><a target="_blank" href="https://app.asana.com/0/1204367921586778/board">DevOps</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1204278431350387/board">MES查詢</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1204278431350387/board">MTF</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1204419680587709/1204408543147885">組裝機IoT</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1204278431350395/board">報價</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1204267517958868/board">客訴</a></th>
            <th><a target="_blank" href="https://app.asana.com/0/1202766948654586/board">治工具</a></th>
            <th>ERP</th>
            <th>BPM</th>
            <th>JMO MES</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Plan計劃</th>
            <td valign="top" class="color2">
                <ul>
                    <li>局網:192.168.150.250</li>
                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li>局網:192.168.150<a title="檢查IIS是否正常" target="_blank" href="http://192.168.150.206">.206</a></li>
                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li>局網:192.168.150<a title="檢查IIS是否正常" target="_blank" href="http://192.168.150.208">.208</a></li>
                    @*<li>公網:211.20.169.192</li>*@
                    <li>域名:mtf.eterge.com</li>
                    <li>SSL:04/18 部署完成</li>
                </ul>
            </td>
            <td valign="top" class="color1"></td>
            <td valign="top" class="color1">
                <ul>
                    <li>局網:192.168.150<a title="檢查IIS是否正常" target="_blank" href="http://192.168.150.242">.242</a></li>
                    @*<li>公網:(待設定)</li>*@
                    <li>域名:cloud.eterge.com (待設定)</li>
                    <li>SSL: (待設定)</li>
                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li>局網:192.168.150<a title="檢查IIS是否正常" target="_blank" href="http://192.168.150.207">.207</a></li>
                    @*<li>公網:(待設定)</li>*@
                    <li>域名:app.eterge.com (待設定)</li>
                    <li>SSL: (待設定)</li>
                </ul>
            </td>
            <td valign="top" class="color1"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
        </tr>
        <tr>
            <th>2</th>
            <th>Code代碼</th>
            <td valign="top" class="color2">
                <ul>
                    <li>DevOps:80</li>
                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li>MES-Query-Snapshot :8813</li>
                    <li>MES-Query-Online :8815</li>
                    <li>MES-Snapshot-Console 做快照</li>
                    <li>MES-Input-Plan-V3 月計畫維護</li>
                    <li>DB:(.241)HLMES</li>

                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li>MTF</li>
                    <li>DB:(.241)HLMES </li>

                </ul>
            </td>
            <td class="color2"></td>
            <td valign="top" class="color2">
                <ul>
                    <li> Pricing-V3</li>
                    <li> DB:(.242)PricingV3</li>
                    <li> 開發測試供SA確認<a href="http://192.168.150.250:8743/">.250:8743</a></li>
                </ul>

            </td>
            <td valign="top" class="color2">
                <ul>
                    <li>
                        Customer-Complaint :8835
                    </li>
                    <li>
                        Customer-Complaint-Attachment :8833
                    </li>
                    <li>
                        Customer-Complaint-Copy-Files :8839

                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;含核心EXE檔案</li>
                    <li>DB:(.241)PROJECT</li>
                </ul>
            </td>
            <td class="color2"></td>
            <td class="color3"></td>
            <td class="color3"></td>
            <td class="color3"></td>
        </tr>
        <tr>
            <th>3</th>
            <th>Build建立</th>
            <td valign="top" class="color2"></td>
            <td class="color2">
                <ul>
                    <li>每月新增8支查詢頁面</li>
                    <li>每月顯示月計劃</li>
                </ul>

            </td>
            <td class="color2"></td>
            <td class="color2"></td>
            <td class="color2"></td>
            <td class="color2"></td>
            <td class="color2"></td>
            <td class="color3"></td>
            <td class="color3"></td>
            <td class="color3"></td>
        </tr>
        <tr>
            <th>4</th>
            <th>Test測試</th>
            <td valign="top" class="color2">
                <ul>
                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li>
                        MES-Query-Snapshot針對 REJ_V4
                        <ul>
                            <li>先使用測試用DB:(.206)HLMES</li>
                            <li><a target="_blank" href="http://192.168.150.250:8999">Xuan測試用</a></li>
                        </ul>
                    </li>
                    <li><a target="_blank" href="http://192.168.150.250:8816"><span style="color:darkblue">2023.4.27.0919</span></a>線上版</li>
                </ul>
            </td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
        </tr>
        <tr>
            <th>5</th>
            <th>Release發布<br>(Version)</th>
            <td valign="top" class="color2">
                <ul>
                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li><a target="_blank" href="http://192.168.150.250:8813"><span style="color:darkblue">2023.4.25.1536</span></a>快照版</li>
                    <li><a target="_blank" href="http://192.168.150.250:8815"><span style="color:darkblue">2023.4.25.1543</span></a>線上版</li>
                    <li><a target="_blank" href="http://192.168.150.250:8566"><span style="color:darkblue">2023.4.26.1635</span></a>月計畫維護</li>
                    <li><span style="color:darkblue">2023.4.26.1010</span>做快照 EXE</li>
                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li><a target="_blank" href="https://mtf.eterge.com"><span style="color:darkblue">2023.4.25.1617</span></a></li>
                </ul>
            </td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color2">
                <ul>
                    <li><a href="http://192.168.150.250:8743/"><span style="color:darkblue">2023.4.24.1640</span></a></li>
                </ul>
            </td>
            <td valign="top" class="color2">
                <ul>
                    <li><a target="_blank" href="http://192.168.150.207:8835/"><span style="color:darkblue">2023.4.25.1441</span></a>客訴</li>
                    <li><a target="_blank" href="http://192.168.150.207:8833/"><span style="color:darkblue">2023.4.26.1019</span></a>客訴附件</li>
                    <li><a target="_blank" href="http://192.168.150.207:8839/"><span style="color:darkblue">2023.4.26.1021</span></a>複製NAS檔案</li>
                    <li><span style="color:darkblue">2023.4.26.1021</span>核心EXE檔案</li>
                </ul>
            </td>
            <td valign="top" class="color2"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"></td>
        </tr>
        <tr>
            <th>6</th>
            <th><a target="_blank" href="https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-6.0">Deploy部署</a></th>
            <td valign="top" class="color2">
                <ul>
                    <li>局網訪問 <a target="_blank" href="http://192.168.150.250">DevOps</a></li>
                    <li>局網訪問 <a target="_blank" href="http://192.168.150.250:8080">全局權限</a></li>
                    <li>禹軒筆記第一代<a target="_blank" href="http://192.168.150.250:8811/note/note0907">Note</a></li>
                    <li>禹軒筆記第二代<a target="_blank" href="http://192.168.150.250:8877">Card</a></li>
                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li>
                        <b>04/24 虛擬機帳密已交付給 仲哲</b>
                    </li>
                    <li>
                        局網訪問 <a target="_blank" href="http://192.168.150.206:8813">MES查詢(快照版)</a>
                    </li>
                    <li>
                        局網訪問 <a target="_blank" href="http://192.168.150.206:8815">MES查詢(線上版)</a>
                    </li>
                    <li>
                        局網訪問 <a target="_blank" href="http://192.168.150.206:8566">MES月計畫維護</a>
                    </li>

                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li><b>04/25 虛擬機帳密已交付給 仲哲</b></li>
                    <li>公網訪問 <a target="_blank" href="https://mtf.eterge.com">MTF</a></li>
                </ul>
            </td>
            <td valign="top" class="color1"></td>
            <td valign="top" class="color1">
                <ul>
                    <li>
                        <b>04/25 部署步驟已技轉給 仲哲</b>
                    </li>
                    <li> 局網訪問 <a target="_blank" href="http://192.168.150.242:8741">報價</a></li>
                    @*<li> 交接給SA部署最新版本<a target="_blank" href="https://app.asana.com/0/1204367921586778/1204446119357210">Asana</a></li>*@

                </ul>


            </td>
            <td valign="top" class="color1">
                <ul>
                    <li><b>04/25 虛擬機帳密已交付給 仲哲</b></li>
                    <li>
                        局網訪問 <a target="_blank" href="http://192.168.150.207:8835/">客訴</a>
                    </li>
                    <li>
                        包括 <b>維護附件名稱</b> 及 <b>複製NAS檔案</b>
                    </li>
                </ul>
            </td>
            <td valign="top" class="color1"></td>

            <td valign="top" class="color3"></td>
            <td valign="top" class="color3"><a target="_blank" href="http://192.168.150.235:8088">訪問</a></td>
            <td valign="top" class="color3"><a target="_blank" href="http://192.168.150.241/MES">訪問</a></td>
        </tr>
        <tr>
            <th>7</th>
            <th>Operate運營</th>
            <td valign="top" class="color2">
                <ul>
                </ul>
            </td>
            <td valign="top" class="color1">
                <ul>
                    <li>[MES查詢]每小時自動快照</li>
                    <li>每更新一版都會將最新版本發佈到.250測試區<br>再由仲哲發佈到.206正式區</li>
                </ul>


            </td>
            <td class="color1"></td>
            <td class="color1"></td>
            <td valign="top" class="color1">
            </td>
            <td valign="top" class="color1"></td>
            <td class="color1"></td>
            <td class="color3"></td>
            <td class="color3"></td>
            <td class="color3"></td>
        </tr>
        <tr>
            <th>8</th>
            <th>Monitor監控</th>
            <td valign="top" class="color2">
                <ul>
                </ul>
            </td>
            <td valign="top" class="color1"></td>
            <td class="color1"></td>
            <td class="color1"></td>
            <td class="color1"></td>
            <td class="color1">
                @*   <ul>
            <li><span style="color:red">研判Server功能受到干擾</span></li>
            <a target="_blank" href="http://192.168.150.250:8765/">對照組</a>(預期正常)
            </ul>*@

            </td>

            <td class="color1"></td>
            <td class="color3"></td>
            <td class="color3"></td>
            <td class="color3"></td>
        </tr>
    </table>
    <br />
    <h4>備註:</h4>
    <ol>
        <li>
            2023-04-27 啟動三個版本的 SOP
            <br>- Deploy部署 : 由 仲哲| 雅琪 由 NAS 取 zip 檔案部署。核對其內容和 Release發布 應該相同
            <br>- Release發布: 經 仲哲| 雅琪 確認 Test測試 滿足單個或多個 Asana 的需求卡片 後, 由 禹軒|(新人) 負責掛放並生成 zip 檔案
            <br>- Test測試:  由 禹軒|(新人)按 單個或多個 Asana 的需求卡片進行開發
        </li>
        <li>
            Customer-Complaint-Copy-Files :8839 由於局網域的權限限制, 無法在目前的IIS部署, 需用命令啟動, 做成<b>run8839.bat</b>檔案放置於虛擬機桌面方便啟動
            <pre><code>
                cd C:\IIS\Eterge-Project-Customer-Complaint-Copy-Files-Publish
                dotnet WebToCmd.dll --urls http://192.168.150.207:8839</code></pre>
            後續如果 NAS 有改路徑, 代碼:Customer-Complaint-Copy-Files :8839 和所含的 核心EXE檔案
            兩者都要跟著調整, 重新 Build, Publish and Release
        </li>
        <li>
            禹軒 Release發布檔案 以 zip 檔案放置在 仲哲(4/26)在 NAS 設定的目錄 \\192.168.150.252\Eterge共用資料夾\MES\Release發布
            <ul>
                <li>
                    MES查詢192.168.150.206
                </li>
                <li>
                    MTF192.168.150.208
                </li>
                <li>
                    報價192.168.150.242
                </li>
                <li>
                    客訴192.168.150.207
                </li>
            </ul>
        </li>
        <li>[E6]報價部署已於 04/25 11:30 由 禹軒 交付給 仲哲 管理。完成技術轉移。</li>
        <li>Eterge-Project-MES-Snapshot-Console 是 [MES查詢]每小時自動快照 的代碼。</li>
        <li>
            「<b>冗餘</b>設置」的意思是指系統或網路配置中包含重複的組件或路徑，旨在提供備份或故障轉移功能，以應對組件或路徑失敗的情況。

        </li>
        <li><b>代碼</b>前綴為 Eterge-Project-。</li>
        <li>
            <a href="http://192.168.150.250">紘立入口網站</a> :只限局網
        </li>
        <li>
            顏色應對人員負責區塊
            <ul>
                <li><span style="background-color:#F5F5F5">Item 1,6,7,8 Eterge MES查詢 客訴 報價 MTF for 鍾仲哲 3658 林雅琪 3662</span></li>
                <li><span style="background-color:#ffffed">Item 2,3,4,5 Eterge MES查詢 客訴 報價 MTF for 王禹軒 3661 and Mark</span></li>
                <li><span style="background-color:#d3d3d3">整個 <b>ERP</b>, <b>BPM</b>, and <b>JMO MES</b>, 表示 MIS 為主的責任區</span></li>
            </ul>
        </li>
        <li>除初期設置外, 後續 WebApp 更新, 由 仲哲 和 雅琪 取得發佈檔案後負責各正式機。</li>
        <li>  <a target="_blank" href="http://192.168.150.250:8741/">權限設定專用(待調整)</a></li>
        <li>DevOps示意圖</li>

        <img src="/img/2023-04-11-000.png" alt="/img/2023-04-11-000.png" width="500" style="vertical-align:bottom" />
    </ol>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        var remoteIpAddress = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress;
        var localIpAddress = httpContextAccessor.HttpContext.Connection?.LocalIpAddress;

        var ipv4Address = "???";
        var serverIP = "???";
        if (remoteIpAddress != null)
        {
            if (remoteIpAddress.AddressFamily == System.Net.Sockets.AddressFamily.InterNetworkV6)
            {
                // Convert IPv6 to IPv4
                remoteIpAddress = System.Net.Dns.GetHostEntry(remoteIpAddress).AddressList
                    .FirstOrDefault(x => x.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork);
            }
            if (remoteIpAddress.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork)
            {
                // IPv4 address
                ipv4Address = remoteIpAddress.ToString();
            }
        }
        if (localIpAddress != null)
        {
            if (localIpAddress.AddressFamily == System.Net.Sockets.AddressFamily.InterNetworkV6)
            {
                // Convert IPv6 to IPv4
                localIpAddress = System.Net.Dns.GetHostEntry(remoteIpAddress).AddressList
                    .FirstOrDefault(x => x.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork);
            }
            if (localIpAddress.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork)
            {
                // IPv4 address
                serverIP = localIpAddress.ToString();
            }
        }




        string timeStamp = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff");
        //Logger.LogInformation("User visited the intro page at {Timestamp}", timeStamp);

        // Save the log entry to a file with the yyyyMMdd naming convention
        string logEntry = $"{ipv4Address} visited {serverIP} at {timeStamp}";
        string logFileName = $"devops_log_{DateTime.UtcNow:yyyyMMdd}.txt";
        await File.AppendAllTextAsync(logFileName, logEntry + Environment.NewLine);
    }
}